{% extends 'base.html' %} 

{% block body %}

<style>
  .homepage {
    min-height: 500px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .hero-image {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    position: absolute;
    z-index: 9;
  }
  .hero-image:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0/.4);
    z-index: 8;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
  }
  .homepage-content {
    background-color: transparent;
    z-index: 11;
  }
</style>

<div class="container homepage">
    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/homepage-bg-1.webp') }}" alt="homepage-bg" />
    </div>
    <div class="homepage-content">
        <h2 class="text-white">BlogLite</h2>
        
        <a href="/login" class="btn btn-outline-primary text-white text-center">LogIn <i class="bi bi-arrow-right-short"></i></a>
    </div>
</div>

{% endblock %}
