{% extends 'base.html' %}

{% block body %}

<div class="card p-3">
    <form action="/profile/search" method="GET">
        <div class="form-group d-flex justify-content-space-between">
            <input type="search" id="profile" name="u" value="{{ query or '' }}"
                class="form-control flex-grow-1 me-2" placeholder="search others on blog lite..." minlength="3" />
            <button type="submit" class="btn btn-primary" >search</button>
        </div>
    </form>
</div>

<hr />
<br />

<p class="text-dark fw-bold">Search result for: '{{ query or ""}}'</p>
<ul class="list-group list-group-flush">
{% for u in users %}

    <li class="list-group-item">{{ u.first_name }} {{ u.last_name }}
        <a href="/profile/follow/{{ u.id }}" class="btn d-inline float-end btn-primary">
            <i class="bi bi-person-plus"></i> Follow</a>
    </li>
    
{% endfor %}
</ul>

{% endblock %}