{% for blog in blogs|reverse %}

<div class="card mb-3" id="blog{{ blog.id }}">
    {%if blog.image_path %}
    <img src="{{ url_for('static', filename='images/') }}/{{ blog.image_path }}" 
        class="card-img-top" height="250" alt="{{blog.image_path}}" />
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">
            {{ blog.title }}
            <a title="Like" href="/blog/{{ blog.id }}/{{ 'dislike' if blog.id in likes else 'like' }}/{{ user.id }}" style="font-size: 20px;">
                <i class="bi bi-hand-thumbs-up{{ '-fill' if blog.id in likes else '' }} text-warning"></i>
            </a>
            <a title="Edit" href="/blog/{{ blog.id }}/edit" style="font-size: 20px;">
                <i class="bi bi-pencil-square"></i>
            </a>
        </h2>
        <p class="card-text">
            <span class="text-muted">Likes: {{ blog.likes|length }}</span>
        </p>
        <p class="card-text">{{ blog.description }}</p>
    </div>
</div>

{% endfor %}